---
	const title = "Astro NetlifyCMS Example"
	const blogPosts = Astro
		.fetchContent('./blog/*.md')
		.map((post) => {
			return (
				<li>
					<a href={post.url}>{post.title}</a>
				</li>
			)
		})
---
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<meta name="viewport" content="width=device-width" />
	<title>{title}</title>
</head>

<body>
	<h1>{title}</h1>
	<ol>{blogPosts}</ol>
</body>

</html>
